<div class="col-md-10 col-md-offset-1">
  <table class="table table-condensed table-hover id="table-articles">
    <thead>
      <tr>
        <th class="center">掲載日時</th>
        <th class="center">連絡内容</th>
      </tr>
    </thead>
    
    <% #@artciles_latest3.each do |article| %>
      <tr>
        <td class="center"><%= l(article.created_at, format: :long) %></td>
        <td class="center">
          <%= simple_format(article.memo) %>
        </td>
      </tr>
    <% #end %>
    </table>
</div>