/* ニュース登録テーブル */

.label-news {
  margin-top: 5px;
}

.btn-news {
  margin-top: 10px;
}

#table-articles {
  td {
    vertical-align: middle;
  }
}

.btn-articles-new {
  margin-top: -10px;
  margin-left: 100px;
}  

.label-news-edit {
  margin-top: 5px;
}

.btn-news-edit {
  margin: 15px 0;
  width: 30%;
}