.reservation-table {
  vertical-align: middle;
  text-align: center;
}

.btn-reservations-show {
  margin-top: -10px;
  margin-bottom: 10px;
}

#table-reservations {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}